# Ambiente virtual (só isso que NÃO vai)
.venv/
venv/
env/

# Python cache (opcional - pode enviar ou não)
__pycache__/
*.pyc
*.pyo

# Arquivos de IDE (opcional)
.vscode/
.idea/

# Arquivos do Windows
Thumbs.db
desktop.ini